body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    
    color: #fff;
    margin: 0;
  }
  
  header {
    background-color: #000;
    
    
  }
  .container {
    max-width: auto;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header h1 {
    font-size: 36px;
    text-align: center;
    
    margin: 0;
    z-index: 1; /* Ensure the header stays on top of the banner */
    width: 100%;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
     
  }
    

  /* nav css start here*/
  nav ul {
    list-style: none;
    display: flex;
    justify-content:center ;
    padding: 0;
    margin: 0;

  }
  
  nav li {
    margin: 0 15px;

  }
  
  nav a {
    text-decoration: none;
    color: #fff;

  }

  
  nav a:hover {
    color: #ff0000; /* Change the link color on hover to create a spooky effect */
  }
  /* nav css end here*/
  /*home section */
  .display-4 {
    font-size: 3rem;
    padding: 2rem;

}
.content_1{
   
    font-family: 'Arial', sans-serif;
    padding: auto;

    
}
/*home section */
  main {
    padding: 40px; 
    
  }


  /*h2 section */
  h2.heading {
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .custom-font {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw; /* Relative font size based on viewport width */
  line-height: 1.6;
  flex: 1; /* Paragraph flexes to take up available space */
  max-width: 100%;
   
}
/* Media Queries for Responsive Paragraph */

/* Small devices (e.g., phones) */
@media (max-width: 576px) {
  h2.heading {
    font-size: 28px;
  }

  .custom-font {
    font-size: 3vw;
  }
  .content{
    padding: 0;
  }
}

/* Medium devices (e.g., tablets) */
@media (min-width: 577px) and (max-width: 991px) {
  h2.heading {
    font-size: 32px;
  }

  .custom-font {
    font-size: 2.5vw;
  }
  .content{
    padding: 0;
  }
}

/* Large devices (e.g., desktops) */
@media (min-width: 992px) {
  h2.heading {
    font-size: 80px;
  }

  .custom-font {
    font-size: 2vw;
  }
}
/*h2 section end*/
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
  }
  
  footer p {
    margin: 0;
  }
  
  
  .img-fluid {
    max-width: 100%;
    height: 50%;
    padding-bottom: 5rem;
    padding-top: 5rem;
  width: auto;
    margin: auto;


    
}



.select-box {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
   
    overflow: hidden;
}

.select-box a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #8e0d0d;
}

.select-box a:hover {
    background-color: tomato;
}

.select-box a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.select-box a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
